body{
    margin:0;
    padding:0;
    font-size: 0px;
}
.container{
    height: 100vh;
    width: 100%;
}
.font{
    color: #fff;
    text-align: center;
    font-size: 32px;
}
.header{
    height: 20vh;
    width: 100%;
    background-color: #55D4EB;
    margin-bottom: 15px;
}
.row2{
    height: calc(60vh - 15px);
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}
.sidebar {
    height: calc(60vh - 15px);
    width: 25%;
    background-color: #A0C263;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}
.col2{
    height: calc(60vh - 15px);
    width: calc(75% - 15px);
    display: inline-block;
    
}
.content{
    height: 70%;
    width: 100%;
    background-color: #F5C531;
    margin-bottom: 15px;
}
.extra{
    height: calc(30% - 15px);
    width: 100%;
    background-color: #898989;
}
.footer{
    height: calc(20vh - 15px);
    width: 100%;
    background-color: #FFA500;
}
